  #stash {
    display: flex;
    justify-content: left;
    margin: 1% 2%;
    color: orange;
    background-color: #ffff;


}

     #navList {
        display: flex;
        flex-direction: flex-end;
        justify-content: right;
        justify-content: space-around;
        margin-left: 55%;
        a{
            //justify-content: space-evenly;
            margin: 1% 5%;
        
        }
        
    }
    