 #wholeNav{
display: flex;
 
 #menu-toggle{
    @media @phone2{
    display: none;
    }
  }

      #menuContainer {
      
        display: inline-block;
        .one, .two, .three{
        @media @phone {
        //justify-content: flex-start;
        //flex-direction: column;
        //align-items: center;
        width: 35px;
        height: 5px;
        background-color: #ffff00;
        margin: 6px 0;
        transition: all 0.4s;
        cursor: pointer;
      
      }
       #menuContainer.on .one{
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
       #menuContainer.on .two{
        opacity: 0;
      }
       #menuContainer.on .three{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    
  }

  #stash {
    //display: flex;
    justify-content: left;
    margin: 0% 1%;
    color: orange;
    background: #AAFFA9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
@media @phone{
  justify-content: center;
  flex-direction: column;
  
  //justify-content: flex-end;
  //align-content: center;
  //box-sizing: border-box;
  margin: 1% 35%;
  border: 2px solid gray;
  text-align: center;
  border-radius: 5%;
  width: 30%;

}
}

     #navList {
        display: flex;
        flex-direction: flex-end;
        align-items: center;
        //justify-content: right;
        justify-content: space-between;
        margin-left: 50%;
        margin-bottom: 1%;
        @media @phone{
          display: none;
        }
     
         .link {
           //justify-content: space-evenly;
           margin: 1% 2%;
           @media @phone{
             display: none;
           }
         }
        }
        
        .icons{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 1% 4%;
            @media @phone{
              margin-left: -25%;

            }
            
          i {
            margin: 5px;
            //justify-content: space-between;
            color: orange;
            
          }
        
        }
       
        
    }
  
    